*.egg-info
*~
.DS_Store
.\#*
.coverage
.pytest_cache
.ruff_cache
.venv
__pycache__
dist
mini/docs/
mini/_static/
mini/_templates/
mini-slides-1/docs/
mini-slides-1/_static/
mini-slides-1/_templates/
mini-slides-2/docs/
mini-slides-2/_static/
mini-slides-2/_templates/
