<!DOCTYPE html>
<html lang="{{ lang|default('en') }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if title %}{{ title }} · {% endif %}{{ book_title }}</title>
    <meta name="description" content="{{ description|default(book_title) }}">
    <link rel="icon" type="image/x-icon" href="@/_static/favicon.ico">
    <link rel="stylesheet" href="@/_static/pygments.css" type="text/css">
    <link rel="stylesheet" href="@/_static/chota.css" type="text/css">
    <link rel="stylesheet" href="@/_static/mccole.css" type="text/css">
    <link rel="stylesheet" href="@/_static/slides.css" type="text/css">
    {% if math %}<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/katex.min.css" integrity="sha384-R4558gYOUz8mP9YWpZJjofhk+zx0AS11p36HnD2ZKj/6JR5z27gSSULCNHIRReVs" crossorigin="anonymous">{% endif %}
    {% if extra_html %}{{ extra_html }}{% endif %}
  </head>
  <body>
    <div class="shower list" tabindex="-1">
{{ content }}
      <div id="slide-counter" aria-live="polite"></div>
    </div>
    <script src="@/_static/shower.js"></script>
    <script src="@/_static/slides.js"></script>
    {% if math %}
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.js" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/contrib/auto-render.min.js" crossorigin="anonymous"
      onload="renderMathInElement(document.body, {
        delimiters: [
          {left: '$$', right: '$$', display: true},
          {left: '$',  right: '$',  display: false}
        ]
      });"></script>
    {% endif %}
  </body>
</html>
